<div class="public_post">
	<blockquote>

	<dl class="dl-horizontal">
		<dt>stats</dt>
		<dd><% if reading.exercise_level_public %>
			<%= "workout load: " + reading.exercise_level.to_s %><br />
		<% end %>
		<% if reading.carbs_consumed_public %>
			<%= "carbs: " + reading.carbs_consumed.to_s %><br />
		<% end %>
		<% if reading.stress_level_public %>
			<%= "stress level: " + reading.stress_level.to_s %><br />
		<% end %>
		<% if reading.glucose_reading_public %>
			<%= "glucose reading :" + reading.glucose_reading.to_s %><br />
		<% end %></dd>
	
		<dt>post </dt>
		<dd><h5><strong><%= reading.post %></strong></h5><br /></dd>
	</dl>
	
	<small><cite>
		<%= image_tag reading.user.image_url(:thumb).to_s %>
		<strong><%= reading.user.username.upcase %></strong>
		<%= render :partial => 'follows/follow', :locals => { :user => reading.user, :current_user => current_user} %>
		<br />
		posted <%= reading.meal_time %></cite></small>
	</blockquote>
</div>
