do you want to attach any of your stats to your post?

<div class="container">
	<%= form_for @reading do |f| %>
	
	<%= f.label :exercise_level_public do %>
		<%= f.check_box :exercise_level_public %>
		my workout load's been <%= @reading.exercise_level.to_s %> for the day.
		<% end %>
		
	<%= f.label :carbs_consumed_public do %>
		<%= f.check_box :carbs_consumed_public %>
		i've consumed <%= @reading.carbs_consumed.to_s %> carbs today.
		<% end %>
		
	<%= f.label :stress_level_public do %>
		<%= f.check_box :stress_level_public %>			
		i've been at a <%= @reading.stress_level.to_s %> stress level today.
		<% end %> 
		
	<%= f.label :glucose_reading_public do %>
			<%= f.check_box :glucose_reading_public %>
			i have a BG of <%= @reading.carbs_consumed.to_s %> currently.
			<% end %>		
		

	<%= f.hidden_field :exercise_level %>
	<%= f.hidden_field :glucose_reading %>
	<%= f.hidden_field :stress_level %>
	<%= f.hidden_field :carbs_consumed %>
	<%= f.hidden_field :post %>
	</div>
	
	</br></br>

	You're posting: <%= @reading.post %><br /><br />

	preview it, you like it? post it!
	<%= f.submit :reading %>
<% end %>
