<h1>this is you,</h1>
<p>edit as you wish!</p>

<!-- find profile pic gem

<div>
	<i>profile photo: </i>
	<%# @user.profile photo %><%= link_to 'edit', edit_user_registration_path %>
</div>
 
-->

<div class="container">
<div>
	<i>name: </i>
	<%= @user.name %><br />
	<%= link_to 'edit', edit_user_registration_path %>
</div><br />

<div>
	<i>userame: </i>
	<%= @user.username %><br />
	<%= link_to 'edit', edit_user_registration_path %>
</div><br />

<div>
	<i>age: </i>
	<%= @user.age %><br />
	<%= link_to 'edit', edit_user_registration_path %>
</div><br />

<div>
	<i>motto: </i>
	<%# @user.motto %><br />
	<%= link_to 'edit', edit_user_registration_path %>
</div><br />

<!-- the following is often updated and responses are saved to be visualized over time -->

<div>
	<i>life with diabetes is..: </i>
	<%# @user.gauge %><br />
	<%= link_to 'edit', edit_user_registration_path %>
</div><br />
</div>
