<h1>this is you,</h1>
<p>edit as you wish!</p>

<div>
	<i>name: </i>
	<%= @user.name %><%= link_to 'edit', users_path %>
</div>

<div>
	<i>userame: </i>
	<%= @user.username %><%= link_to 'edit', users_path %>
</div>

<div>
	<i>age: </i>
	<%= @user.age %><%= link_to 'edit', users_path %>
</div>


