<h1>this is you,</h1>
<p>edit as you wish!</p>

<!-- find profile pic gem

<div>
	<i>profile photo: </i>
	<%# @user.profile photo %><%= link_to 'edit', edit_user_registration_path %>
</div>
 
-->

<div>
	<i>name: </i>
	<%= @user.name %><%= link_to 'edit', edit_user_registration_path %>
</div>

<div>
	<i>userame: </i>
	<%= @user.username %><%= link_to 'edit', edit_user_registration_path %>
</div>

<div>
	<i>age: </i>
	<%= @user.age %><%= link_to 'edit', edit_user_registration_path %>
</div>

<div>
	<i>motto: </i>
	<%# @user.motto %><%= link_to 'edit', edit_user_registration_path %>
</div>

<!-- the following is often updated and responses are saved to be visualized over time -->

<div>
	<i>life with diabetes is..: </i>
	<%# @user.gauge %><%= link_to 'edit', edit_user_registration_path %>
</div>
